.breed_info {
    font-family: "modelica-r";
    font-size: 14px;
    width: 100%;
    position: relative;
    margin-top: 60px;
}

.breed_info__title {
    font-size: 28px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #202D34;
    font-family: "modelica-m";
}

.breed_info_container {
    width: 100%;
    margin: 0 auto;
}

.breed_info_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.breed_info_left {
    width: 614px;
    /* margin-right: 96px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.breed_info_left__img {
    position: relative;
    width: 254px;
    height: 326px;
    margin: 0px 0px 10px 0px;
    background: #f1efe8;
    border: 2px solid #938556;
    border-radius: 10px;
}

.breed_info_left__img img {
    height: calc(120% * 1.23);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -58%);
}

.breed_info_left__button {
    width: 254px;
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
    background: #938556;
    color: #fff;
    border-radius: 5px;
    font-family: "modelica-r";
    font-size: 19px;
    padding: 5px 10px;
}

.breed_info_right {
    width: 941px;
}

.breed_info_right__info {
    margin: 10px 0 0;
    padding: 5px;
    line-height: 18px;
    border: 1px dashed #000;
}

.breed_info_right__info p {
    padding: 0 0 10px 0;
}

.breed_info_right__info p:last-child {
    padding: 0;
}

.breed_info_right__row {
    padding: 5px 10px 5px 10px;
    /* display: flex; */
    width: 100%;
}

.breed_info_right__row:nth-child(odd) {
    padding: 7px 10px 7px 10px;
}

.breed_info_right__row p {
    margin: 0;
    font-size: 19.2px;
    font-family: "modelica-r";
}

.breed_info_right__row span {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 19.2px;
    /* white-space: nowrap; */
}

.breed_info_right__row_5, .breed_info_right__row_6, .breed_info_right__row_7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.breed_info_right__row_5 span, .breed_info_right__row_6 span, .breed_info_right__row_7 span {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    /* align-self: center; */
    padding: 0 10px 0 0;
}

@media screen and (max-width: 1920px) {
    .breed_info {
        font-size: 0.729vw;
        margin-top: 3.125vw;
    }

    .breed_info__title {
        font-size: 1.458vw;
        margin: 0px 0px 6vw 0px;
    }

    .breed_info_container {
        width: 100%;
    }

    .breed_info_left {
        width: 32vw;
        /* margin-right: 5vw; */
    }

    .breed_info_left__img {
        width: 13.229vw;
        height: 16.979vw;
        margin: 0px 0px 0.521vw 0px;
        border: 2px solid #938556;
        border-radius: 0.521vw;
    }

    .breed_info_left__button {
        width: 13.229vw;
        border-radius: 0.260vw;
        font-size: 1vw;
        padding: .3vw .5vw;
    }

    .breed_info_right {
        width: 49.042vw;
    }

    .breed_info_right__info {
        margin: 0.521vw 0 0;
        padding: 0.260vw;
        line-height: 0.938vw;
        border: 0.052vw dashed #000;
    }

    .breed_info_right__info p {
        padding: 0 0 0.5vw 0;
    }

    .breed-info-right__row {
        padding: 0.25vw;
        line-height: 1vw;
        padding: 0.5vw 0;
    }

    .breed_info_right__row {
        padding: .25vw .5vw .25vw .5vw;
    }

    .breed_info_right__row:nth-child(odd) {
        padding: 0.365vw .5vw 0.365vw .5vw;
    }

    .breed_info_right__row_5 span, .breed_info_right__row_6 span, .breed_info_right__row_7 span {
        padding: 0 .5vw 0 0;
    }

    .breed_info_right__row p {
        font-size: 1vw;
    }

    .breed_info_right__row span {
        font-size: 1vw;
    }
}