.top_text {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.458vw;
}

.top_text h2 {
    margin: 0;
    padding: 0;
    font-family: "modelica-m";
    color: #202D34;
    font-size: 1.5vw;
}

.top_text p {
    margin: 0;
    padding: 0;
    color: #919191;
    font-size: 1.0625vw;
}

@media screen and (min-width: 1920px) {
    .top_text {
        margin-bottom: 35px;
    }
    .top_text h2 {
        font-size: 28.8px;
    }
    .top_text p {
        font-size: 20.352px;
    }
}
    /*fffffffffffffffffffffffffffffff*/