.card_cat {
    width: 163.2px;
    height: 250px;
    border-radius: 12px;
    border: 1.2px solid #fff;
    transition: .2s;
    cursor: pointer;
    transform: scale(1.45);
}

.card_cat.hiddenCart {
    opacity: 0;
}

.block_img {
    width: 137.5px;
    height: 162.5px;
    background: #f1efe8;
    border: 1.2px solid #938556;
    border-radius: 12px;
    margin: 8.75px auto 0 auto;
    position: relative;
    transition: .2s;
}

.card_cat:hover, .card_cat.active {
    background: #f1efe8;
    border: 1.2px solid #938556;
}

.card_cat:hover .block_img, .card_cat.active .block_img {
    background: #938556;
}

.card_cat:hover .text div a, .card_cat:hover .text div button, .card_cat.active .text div a, .card_cat.active .text div button, .card_cat.active .fav_ava, .card_cat:hover .fav_ava {
    opacity: 1;
}

.card_cat:hover .text div, .card_cat:hover .text div button {
    transition: 0;
}

.card_cat:hover .text div a:hover {
    opacity: .6;
}

.card_cat:hover .text div button:hover {
    opacity: .6;
}

/* .card_cat.active {
    background: #f1efe8;
    border: 1.2px solid #938556;
}

.card_cat.active .block_img {
    background: #938556;
} */

.block_img img {
    height: 140%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -59%);
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 65px;
    margin-top: 3px;
}

.text p {
    font-size: 15.6px;
    font-family: "modelica-r";
    text-align: center;
    height: 36px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 5px;
    max-width: 95%;
}

.text div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 138px;
}

.text div a, .text div button {
    color: #fff;
    background: #938556;
    border-radius: 5px;
    font-family: "modelica-r";
    font-size: 12px;
    border: none;
    padding: 2.7px 6.8px;
    opacity: 0;
    transition: .2s;
    cursor: pointer;
}

.fav_ava {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    transform: translateX(50%);
    top: 40%;
    opacity: 0;
    z-index: 4;
    transition: .4s opacity;
}

.fav_ava>div {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1.2px solid #938556;
    background: #f1efe8;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.fav_ava .favorite {
    margin-bottom: 5px;
}

.fav_ava .favorite img {
    width: 40%;
    height: fit-content;
}

.fav_ava .favorite p {
    font-size: 7.5px;
    margin: 0;
}

.fav_ava .available * {
    padding: 0;
    margin: 0;
}

.fav_ava .available p {
    font-size: 7.5px;
}

.fav_ava .available h4 {
    font-size: 15px;
    height: 15px;
}

@media screen and (max-width: 1920px) {
    .card_cat {
        width: 8.5vw;
        height: 13.1vw;
        border-radius: .6vw;
    }
    .block_img {
        width: 7.161vw;
        height: 8.464vw;
        margin: 0.456vw auto 0 auto;
        border-radius: .6vw;
    }
    .text {
        height: 4vw;
        margin-top: 0.156vw;
    }
    .text p {
        font-size: 0.813vw;
        height: 1.875vw;
    }
    .text div {
        /* width: 6.771vw; */
        width: 7.2vw;
    }
    .text div a, .text div button {
        font-size: 0.625vw;
        padding: 0.24vw 0.34vw;
        border-radius: .25vw;
    }
    .fav_ava>div {
        width: 1.823vw;
        height: 1.823vw;
        border-radius: 0.208vw;
    }
    .fav_ava .favorite {
        margin-bottom: 0.260vw;
    }
    .fav_ava .favorite p {
        font-size: 0.391vw;
    }
    .fav_ava .available p {
        font-size: 0.391vw;
    }
    .fav_ava .available h4 {
        font-size: 0.781vw;
        height: 0.781vw;
    }
}