.card_cat {
    width: 236.64px;
    height: 362.5px;
    border-radius: 12px;
    border: 1.2px solid #fff;
    transition: .2s;
    cursor: pointer;
    position: relative;
}

.card_cat.hiddenCart {
    opacity: 0;
}

.block_img {
    width: 199.3px;
    height: 235.6px;
    margin: 12.6px auto 0 auto;
    position: relative;
}

.block_img::before {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #F2EFE8;
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.card_cat:hover .text div, .card_cat:hover .text div button {
    transition: 0;
}

.card_cat:hover .text div a:hover {
    opacity: .6;
}

.card_cat:hover .text div button:hover {
    opacity: .6;
}

.block_img img {
    height: 120%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
}
.block_img img:last-child {
    opacity: 0;
    display: none;
}
.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 94.25px;
    margin-top: 4.35px;
}

.text p {
    font-size: 19.2px;
    font-family: "modelica-r";
    text-align: center;
    height: 52.1px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 7.25px;
    max-width: 90%;
}

.text div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.text div a, .text div button {
    color: #fff;
    background: #938556;
    border-radius: 5px;
    font-family: "modelica-r";
    font-size: 17.4px;
    border: none;
    padding: 3.77px 9.86px;
    transition: .2s;
    cursor: pointer;
}

.fav_ava {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    right: 0;
    transform: translateX(50%);
    top: 40%;
    z-index: 4;
    transition: .4s opacity;
}

.fav_ava>div {
    position: relative;
    width: 50.75px;
    height: 50.75px;
    border: 1.2px solid #938556;
    background: #f1efe8;
    border-radius: 5.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.fav_ava .favorite {
    margin-bottom: 7.5px;
}

.fav_ava .favorite img {
    width: 40%;
    height: fit-content;
}

.fav_ava .favorite p {
    font-size: 10.8px;
    margin: 0;
}

.fav_ava .available * {
    padding: 0;
    margin: 0;
}

.fav_ava .available p {
    font-size: 10.8px;
}

.fav_ava .available h4 {
    font-size: 21.75px;
    height: 21.75px;
}

@media screen and (max-width: 1920px) {
    .card_cat {
        width: 12.32vw;
        height: 18.88vw;
        border-radius: 0.63vw;
        border: 0.06vw solid #fff;
    }
    .block_img::before {
        bottom: 1.04vw;
        width: 10.42vw;
        height: 10.42vw;
        border-radius: 0.63vw;
    }

    .block_img {
        width: 10.38vw;
        height: 12.27vw;
        margin: 0.66vw auto 0 auto;
    }

    .text {
        height: 4.91vw;
        margin-top: 0.23vw;
    }

    .text p {
        font-size: 1.00vw;
        height: 2.71vw;
        margin-bottom: 0.38vw;
    }

    .text div {
        width: 10.42vw;
    }

    .text div a, .text div button {
        border-radius: 0.26vw;
        font-size: 0.91vw;
        padding: 0.20vw 0.51vw;
    }

    .fav_ava>div {
        width: 2.64vw;
        height: 2.64vw;
        border: 0.06vw solid #938556;
        border-radius: 0.30vw;
    }

    .fav_ava .favorite {
        margin-bottom: 0.39vw;
    }

    .fav_ava .favorite p {
        font-size: 0.56vw;
    }

    .fav_ava .available p {
        font-size: 0.56vw;
    }

    .fav_ava .available h4 {
        font-size: 1.13vw;
        height: 1.13vw;
    }
}