.sort {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
}

.sort .sort_breeds {
    background: white;
    display: flex;
    border-radius: 5px;
    border: 1.2px solid #938556;
    width: 38.542vw;
    height: 1.901vw;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    margin: 0 auto;
    margin-bottom: 10px;
}

.sort .sort_breeds div {
    width: 35%;
    height: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sort .sort_breeds div:nth-child(1), .sort .sort_breeds div:nth-child(2), .sort .sort_breeds div:nth-child(3) {
    border-right: 1.25px solid #938556;
}

.sort .sort_breeds div:nth-child(1) {
    margin-left: -1px;
}

.sort .sort_breeds div p {
    color: #000;
    font-size: .9vw;
    font-family: "modelica-r";
}

.sort .sort_breeds div.active {
    background: #938556;
}

.sort .sort_breeds div.active p {
    color: white;
}

/* .sort .sort_location{
    min-height: 10px;
    min-width: 10px;
} */

.sort_location ul {
    display: flex;
}

.sort_location li {
    margin-right: .4vw;
    list-style: none;
}

.sort_location input {
    margin-left: 0;
    opacity: 0;
}

.sort_location label {
    color: #938556;
    font-size: 1vw;
    font-family: "modelica-r";
    cursor: pointer;
    margin-top: .2vw;
    position: relative;
}

.sort_location label::after {
    content: '';
    position: absolute;
    min-width: 0.4vw;
    min-height: 0.4vw;
    max-width: 0.4vw;
    max-height: 0.4vw;
    left: -webkit-calc(-.7vw + .5px);
    left: -moz-calc(-.7vw + .5px);
    left: calc(-.7vw + .5px);
    border: 1px solid #000;
    border-radius: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sort_location input:checked+label::after {
    background: #938556;
}

.last_kittens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last_kittens .block_cats {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1.2vw;
}

.last_kittens>a {
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    color: white;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: .31vw .5vw;
    border-radius: 0.26vw;
}

.top_text {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.8225vw;
    z-index: 1;
}

.top_text h2 {
    margin: 0;
    padding: 0;
    font-family: "modelica-m";
    color: #202D34;
    font-size: 1.5vw;
}

.top_text p {
    margin: 0;
    padding: 0;
    color: #919191;
    font-size: 1.06vw;
}

.detail_catteries {
    display: block;
    width: 100vw;
    height: 100vh;
    /* background: #000; */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}

.detail_catteries .fon {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: .6s;
    background: rgba(0, 0, 0, 0.747);
    opacity: 0;
}

.detail_catteries .cnt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    background: white;
    width: 70vw;
    min-height: 10vw;
    border-radius: 12px;
    padding: 20px;
    max-width: 1364px;
    max-height: 85vh;
    overflow-y: auto;
    transition: .6s;
    opacity: .1;
}

.detail_catteries .cnt::-webkit-scrollbar {
    display: none;
}

.detail_catteries .cnt .top_section {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.detail_catteries .cnt .close {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    right: 20px;
    top: 20px;
    z-index: 3;
}

.detail_catteries .cnt .close img {
    width: 30px;
}

.detail_catteries .cnt .right_cnt {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.detail_catteries .cnt .right_cnt .vid {
    width: 100%;
    border-radius: 12px;
    border: 2.5px solid #938556;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 20px;
}

.detail_catteries .cnt .right_cnt .vid img {
    width: 80px;
    cursor: pointer;
    transition: .4s;
}

.detail_catteries .cnt .right_cnt .vid img:hover {
    opacity: .6;
}

.detail_catteries .cnt .right_cnt .img_blocks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.detail_catteries .cnt .right_cnt .img_blocks::before {
    content: '';
    width: 100%;
    height: 40%;
    background: linear-gradient(transparent, white, white);
    position: absolute;
    left: 0;
    bottom: -2px;
    z-index: 1;
}

.detail_catteries .cnt .right_cnt .img_blocks div {
    border-radius: 12px;
    border: 2.5px solid #938556;
    height: 80px;
    width: 80px;
    position: relative;
    cursor: pointer;
    transition: .4s;
}

.detail_catteries .cnt .right_cnt .img_blocks div:hover {
    opacity: .6;
}

.detail_catteries .cnt .right_cnt .img_blocks div.top_b {
    margin-bottom: 10px;
}

.detail_catteries .cnt .right_cnt .all_img {
    z-index: 1;
    text-decoration: none;
    background: #142B33;
    color: white;
    font-size: 19.2px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: -10px;
}

.detail_catteries .cats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.detail_catteries .cats .wrap_cats {
    display: flex;
    justify-content: center;
}

.comments {
    position: relative;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.comments>button {
    background: #f1efe8;
    border-radius: 50%;
    position: relative;
    border: none;
    height: 32.5px;
    width: 32.5px;
    z-index: 1;
    cursor: pointer;
    outline: none;
}

.comments>button img {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.comments>button.next {
    transform: rotate(180deg);
}

.comments .wrap_comments {
    position: relative;
    width: 85%;
    overflow-x: hidden;
}

.comments .wrap_comments::before {
    content: '';
    height: 100%;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, transparent, white);
    z-index: 1;
}

.comments .wrap_comments::after {
    content: '';
    height: 100%;
    width: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, white, transparent);
    z-index: 1;
}

.comments .wrap_comments .comments {
    position: relative;
    width: fit-content;
    display: flex;
    transition: .6s;
}

.comments .wrap_comments .comments>div:first-child {
    margin-left: 19.02px;
}

@media screen and (min-width: 1920px) {
    .top_text {
        margin-bottom: 35px;
    }
    .top_text h2 {
        font-size: 28.8px;
    }
    .top_text p {
        font-size: 19.2px;
    }
    .last_kittens .block_cats {
        margin-bottom: 23px;
    }
    .last_kittens>a {
        font-size: 19.2px;
        color: white;
        padding: 5.7px 9.6px;
        border-radius: 0.26vw;
    }
    .sort .sort_breeds div p {
        color: #000;
        font-size: 17.5px;
        font-family: "modelica-r";
    }
    .sort .sort_breeds {
        width: 733px;
        height: 36.5px;
    }
    .sort_location li {
        margin-right: 7.6px;
    }
    .sort_location label {
        font-size: 19.2px;
        margin-top: 3.84px;
    }
    .sort_location label::after {
        min-width: 7.68px;
        min-height: 7.68px;
        max-width: 7.68px;
        max-height: 7.68px;
        left: -webkit-calc(-13.44px + .5px);
        left: -moz-calc(-13.44px + .5px);
        left: calc(-13.44px + .5px);
    }
}

@media screen and (max-width: 1920px) {
    .sort {
        margin-bottom: 2.427vw;
    }
    .sort .sort_breeds {
        border-radius: 0.25vw;
        margin-bottom: .5vw;
    }
    .detail_catteries .cnt .right_cnt {
        width: 23.4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .detail_catteries .cnt .right_cnt .vid {
        width: 100%;
        border-radius: 0.63vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10.42vw;
        margin-bottom: 1.04vw;
    }
    .detail_catteries .cnt .right_cnt .vid img {
        width: 4.17vw;
    }
    .detail_catteries .cnt .right_cnt .img_blocks {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }
    .detail_catteries .cnt .right_cnt .img_blocks::before {
        content: '';
        width: 110%;
        height: 40%;
        background: linear-gradient(transparent, white, white);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -0.10vw;
        z-index: 1;
    }
    .detail_catteries .cnt .right_cnt .img_blocks div {
        border-radius: 0.63vw;
        height: 4.1vw;
        width: 4.1vw;
        position: relative;
    }
    .detail_catteries .cnt .right_cnt .img_blocks div.top_b {
        margin-bottom: 0.52vw;
    }
    .detail_catteries .cnt .right_cnt .all_img {
        border-radius: 0.25vw;
        padding: .3vw 0.6vw;
        font-size: 1vw;
        margin-top: -.5vw;
    }
    .detail_catteries .cnt .right_cnt {
        margin-top: 5.4vw;
    }
    .detail_catteries .cnt .close {
        right: 1vw;
        top: 1vw;
    }
    .detail_catteries .cnt .close img {
        width: 1.5vw;
    }
    .detail_catteries .cnt .cats, .detail_catteries .cnt .top_section {
        margin-bottom: 2.5vw;
    }
    .comments .wrap_comments .comments>div:first-child {
        margin-left: 1vw;
    }
}