.active_sort {
    font-family: 'modelica-m';
    font-size: 20px;
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: 100;
}

.sort {
    position: relative;
    background: white;
    border-radius: 5px;
    border: 1.2px solid #938556;
    width: 50.9vw;
    /* width: 978px; */
    height: 2.2vw;
    z-index: 2;
    margin: 0 auto;
    margin-bottom: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort .sort_hair {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort .sort_hair div {
    width: 35%;
    height: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.sort .sort_hair div:nth-child(1), .sort .sort_hair div:nth-child(2), .sort .sort_hair div:nth-child(3) {
    border-right: 1.25px solid #938556;
}

.sort .sort_hair div:nth-child(1) {
    margin-left: -1px;
}

.sort .sort_hair div p {
    color: #000;
    font-size: 17.5px;
    font-family: "modelica-r";
}

.sort .sort_hair div.active {
    background: #938556;
    box-shadow: 0px 2px 16px #00000046;
}

.sort .sort_hair div.active p {
    color: white;
}

.sort_longhair, .sort_shorthair, .sort_siamese {
    position: absolute;
    width: 25%;
    background: #F1EFE8;
    bottom: -200px;
    z-index: -1;
    -webkit-box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    transition: .5s;
    height: 200px;
    transform-origin: 50% 0;
    transform: scaleY(0);
    opacity: 0;
    padding-bottom: 10px;
}

/* .sort_longhair.active, .sort_shorthair.active, .sort_siamesr.active {
    transform: scaleY(1);
} */

.sort_longhair {
    left: 25%;
}

.sort_shorthair {
    left: 50.2%;
}

.sort_siamese {
    left: auto;
    left: 75.2%;
}

.sort_longhair.active, .sort_shorthair.active, .sort_siamese.active {
    transform: scaleY(1);
}

.sort_longhair ul, .sort_shorthair ul, .sort_siamese ul {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0 0 0 7px;
}

.sort_longhair ul::-webkit-scrollbar, .sort_shorthair ul::-webkit-scrollbar, .sort_siamese ul::-webkit-scrollbar {
    width: 5px;
}

.sort_longhair ul::-webkit-scrollbar-thumb, .sort_shorthair ul::-webkit-scrollbar-thumb, .sort_siamese ul::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 10px;
}

.sort_longhair ul::-webkit-scrollbar-track, .sort_shorthair ul::-webkit-scrollbar-track, .sort_siamese ul::-webkit-scrollbar-track {
    background: none;
}

.sort_longhair ul li, .sort_shorthair ul li, .sort_siamese ul li {
    list-style: none;
    padding-left: 0;
    cursor: pointer;
    font-family: 'modelica-r';
    font-size: 15.5px;
    margin-bottom: 3px;
}

.sort_longhair ul li:first-child, .sort_shorthair ul li:first-child, .sort_siamese ul li:first-child {
    margin-top: 5px;
}

.sort_longhair ul li:last-child, .sort_shorthair ul li:last-child, .sort_siamese ul li:last-child {
    margin-bottom: 10px;
}

.sort_longhair ul li.active, .sort_shorthair ul li.active, .sort_siamese ul li.active {
    color: #938556;
}

.sort_longhair ul li:hover, .sort_shorthair ul li:hover, .sort_siamese ul li:hover {
    opacity: .4;
}

.last_kittens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last_kittens .block_cats {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1.2vw;
    flex-wrap: wrap;
}

.last_kittens .block_cats>div {
    margin-bottom: 2.5vw;
}



.last_kittens>a {
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    color: white;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: .31vw .5vw;
    border-radius: 0.26vw;
}

.top_text {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.8225vw;
    z-index: 1;
}

.top_text h2 {
    margin: 0;
    padding: 0;
    font-family: "modelica-m";
    color: #202D34;
    font-size: 1.5vw;
}

.top_text p {
    margin: 0;
    padding: 0;
    color: #919191;
    font-size: 1.06vw;
}


/* .gallery {
    width: 100vw;
    height: 100vh;
    z-index: 11;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;

} */


@media screen and (min-width: 1920px) {

    .top_text {
        margin-bottom: 35px;
    }

    .top_text h2 {
        font-size: 28.8px;
    }

    .top_text p {
        font-size: 19.2px;
    }

    .last_kittens .block_cats {
        margin-bottom: 23px;
    }

    .last_kittens .block_cats>div {
        margin-bottom: 48px;
    }

    .last_kittens>a {
        font-size: 19.2px;
        color: white;
        padding: 5.7px 9.6px;
        border-radius: 0.26vw;
    }

    .sort {
        width: 978px;
        height: 42.3px;
    }
}

@media screen and (max-width: 1920px) {
    .sort {
        border-radius: 0.25vw;
        margin-bottom: 4.427vw;
    }

    .sort .sort_hair div p {
        font-size: 0.911vw;
    }

    .sort_longhair ul::-webkit-scrollbar, .sort_shorthair ul::-webkit-scrollbar, .sort_siamese ul::-webkit-scrollbar {
        width: 0.375vw;
    }

    .wrapp_card {
        width: 49.921vw;
    }

    .sort .sort_hair div:nth-child(1) {
        margin-left: -1px;
    }

    .sort .sort_hair div p {
        font-size: 0.920vw;
    }

    .sort_longhair, .sort_shorthair, .sort_siamese {
        bottom: -10.510vw;
        z-index: -1;
        /* left: -2px; */
        height: 10.510vw;
        padding-bottom: .5vw;
    }

    /* .sort_longhair {
        left: -0.105vw;
    }
    .sort_shorthair {
        left: calc(33.6% - 4px);
    }
    .sort_siamese {
        right: -0.105vw;
    } */
    .sort_longhair ul, .sort_shorthair ul, .sort_siamese ul {
        padding: 0 0 0 0.368vw;
    }

    .sort_longhair ul li, .sort_shorthair ul li, .sort_siamese ul li {
        font-size: .8vw;
        padding-left: 0;
        cursor: pointer;
        margin-bottom: 0.158vw;
    }

    .sort_longhair ul li:first-child, .sort_shorthair ul li:first-child, .sort_siamese ul li:first-child {
        margin-top: 0.26vw;
    }

    .sort_longhair ul li:last-child, .sort_shorthair ul li:last-child, .sort_siamese ul li:last-child {
        margin-bottom: 0.52vw;
    }
}