.comment {
    padding: 10px;
    border-radius: 12px;
    border: 2.5px solid #938556;
    width: 380px;
    height: 210px;
    margin-right: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.comment * {
    margin: 0;
}

.comment h4 {
    font-size: 19.2px;
    font-weight: 100;
    font-family: "modelica-r";
    margin-bottom: 10px;
}

.comment .rating {
    margin-bottom: 5px;
}

.comment .rating img {
    width: 20px;
    margin-right: 5px;
}

.comment .wrap_text {
    position: relative;
    margin-bottom: 7px;
}

.comment .wrap_text::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 5px);
    height: 20%;
    background: linear-gradient(white, transparent);
    z-index: 1;
}

.comment .wrap_text::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 5px);
    height: 20%;
    background: linear-gradient(transparent, white);
    z-index: 1;
}

.comment .text {
    width: 100%;
    font-size: 19.2px;
    margin: 0;
    font-family: "modelica-r";
    overflow-y: scroll;
    max-height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment .text::-webkit-scrollbar {
    width: 5px;
}

.comment .text::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 10px;
}

.comment .text::-webkit-scrollbar-track {
    background: none;
}

.comment .link_facebook {
    position: relative;
    margin: auto auto 0 auto;
    height: 30px;
}

.comment .link_facebook:hover {
    opacity: 1;
}

.comment .link_facebook:hover img {
    opacity: .6;
}

.comment .link_facebook img {
    position: relative;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1920px) {
    .comment {
        padding: 0.52vw;
        border-radius: 0.63vw;
        width: 19.7vw;
        height: 10.94vw;
        margin-right: 2.08vw;
    }
    .comment h4 {
    font-size: 1vw;
        margin-bottom: 0.52vw;
    }
    .comment .rating {
        margin-bottom: 0.26vw;
    }
    .comment .rating img {
        width: 1.04vw;
        margin-right: 0.26vw;
    }
    .comment .wrap_text {
        margin-bottom: 0.2vw;
    }
    .comment .wrap_text::after, .comment .wrap_text::before {
        width: calc(100% - .3vw);
    }
    .comment .text {
        font-size: 1vw;
        padding-right: .5vw;
        max-height: 4.17vw;
    }
    .comment .text::-webkit-scrollbar {
        width: 0.3vw;
    }
    .comment .text::-webkit-scrollbar-thumb {
        border-radius: 0.52vw;
    }
    .comment .link_facebook {
        height: 1.56vw;
    }
    .comment .link_facebook img {
        position: relative;
        width: 1.56vw;
        height: 1.56vw;
    }
}