.card_goods {
    width: 556.8px;
    height: 374.4px;
    height: fit-content;
    -webkit-box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    border-radius: 5px;
    overflow: hidden;
}

.card_goods>a {
    width: 100%;
}

.card_goods h3 {
    position: relative;
    background: #938556;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 19px 0;
    font-family: 'modelica-r';
    font-weight: 100;
    font-size: 23.3px;
    text-align: center;
    max-height: 81px;
}

.card_goods .cnt_goods {
    display: flex;
    padding: 15px;
    width: 100%;
    align-items: flex-start;
}

.card_goods .cnt_goods>img {
    position: relative;
    width: 50%;
    margin-right: 20px;
    height: auto;
}

.card_goods .links {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 43%;
}

.card_goods .links a {
    font-family: 'modelica-r';
    margin-bottom: 4px;
    position: relative;
    font-size: 19.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    width: fit-content;
    display: block;
}

.card_goods .links a:not(.all_prod)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    bottom: 0px;
    transition: .6s;
    opacity: .6;
    transform-origin: 0 50%;
    transform: scaleX(0);
}

.card_goods .links a:not(.all_prod):hover::before {
    transform: scaleX(1);
}

.card_goods .links .all_prod {
    color: #938556;
    margin-top: 10px;
}

.card_goods.narrow {
    width: 356.3px;
    height: 700px;
    /* width: 18.561vw;
    height: 35vw; */
}

.card_goods.narrow .cnt_goods {
    flex-direction: column;
}

.card_goods.narrow .cnt_goods>img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}

.card_goods.narrow .links {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 1920px) {
    .card_goods {
        width: 29vw;
        height: 19.5vw;
        margin-bottom: 2.102vw;
        border-radius: .6vw;
    }
    .card_goods h3 {
        padding: 0.998vw 0;
        font-size: 1.2vw;
        max-height: 4.205vw;
    }
    .card_goods .cnt_goods {
        padding: 0.75vw;
    }
    .card_goods .cnt_goods>img {
        margin-right: 1.051vw;
    }
    .card_goods .links a {
        margin-bottom: 0.210vw;
        font-size: 1vw;
    }
    .card_goods .links a:not(.all_prod)::before {
        height: 0.105vw;
    }
    .card_goods .links .all_prod {
        margin-top: 0.525vw;
    }
    .card_goods.narrow {
        /* width: 11.561vw;
        height: 27.325vw; */
        width: 18.561vw;
        height: 36.5vw;
    }
    .card_goods.narrow .cnt_goods>img {
        margin-bottom: 0.525vw;
    }
}