.block_person {
    width: 11.1975vw;
    background: white;
    border-radius: 0.4vw;
    position: relative;
    padding-right: 0.6vw;
}

.avatar_data {
    display: flex;
    position: relative;
}

.avatar_data .avatar {
    position: relative;
    width: 3.1vw;
    height: 3.1vw;
    min-height: 3.1vw;
    min-width: 3.1vw;
    background: #f1efe8;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0.45vw;
    margin-top: -.5vw;
}

.avatar_data .avatar img {
    width: calc(100% - .5vw);
    height: calc(100% - .5vw);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.avatar_data .data img {
    height: 0.7vw;
    width: 0.7vw;
    margin: 0 .12vw;
}

.avatar_data .data {
    display: flex;
    flex-direction: column;
    margin-top: .25vw;
    margin-left: .25vw;
}

.avatar_data .data .rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.avatar_data .data p {
    margin-left: auto;
    font-family: "modelica-r";
    margin-top: 0;
    margin-bottom: .12vw;
    font-size: 1vw;
}

@media screen and (min-width: 1920px) {
    .avatar_data .data p {
        font-size: 19.2px;
    }
}

.avatar_data .data .login {
    font-family: "modelica-r";
    /* font-weight: 400; */
    font-size: 1vw;
    margin: 0 0 .2vw 0;
    max-width: 5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.block_person>p {
    margin: 0 0 0 0.75vw;
    font-family: "modelica-r";
    font-size: 1vw;
    width: fit-content;
    color: #365864;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
    line-height: 1.2;
}

.location {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    width: calc(100% - 0.781vw);
    margin-left: 0.75vw;
    padding-bottom: 0.5vw;
    margin-top: .4vw;
}

.location div {
    display: flex;
    align-items: center;
    max-width: 55%;
    /* margin: .4vw 0 .6vw 0; */
}

.location img {
    width: 1vw;
    height: fit-content;
    margin-right: .2vw;
}

.location p {
    color: #365864;
    font-family: "modelica-r";
    font-size: 1vw;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
    margin: 0;
}

.location a {
    text-decoration: none;
    /* margin-left: auto; */
    background: #142B33;
    color: white;
    border-radius: 0.25vw;
    padding: .25vw 0.75vw;
    font-size: 1vw;
    /* margin-bottom: .4vw; */
}

@media screen and (min-width: 1920px) {
    .block_person {
        width: 90%;
        padding-right: 12px;
    }
    .avatar_data .avatar img {
        width: 48.75px;
        height: 48.75px;
    }
    .avatar_data data img {
        width: 12.5px;
        height: 12.5px;
    }
    .avatar_data .data .login {
        font-size: 19.2px;
        max-width: 100px;
        margin: 0 0 3.8px 0;
    }
    .block_person>p {
        font-size: 19.2px;
        margin-left: 13.875px;
    }
    .location img {
        width: 19.2px;
        height: fit-content;
        margin-right: 4px;
    }
    .location {
        /* width: calc(100% - 15px); */
        margin-left: 14.2px;
        /* padding-bottom: 4.7px; */
        padding-bottom: 9.6px;
        margin-top: .7.6;
    }
    .location p {
        font-size: 19.2px;
        /* max-width: 105.6px; */
    }
    .location a {
        font-size: 19.2px;
        padding: 4.7px 14.2px;
        border-radius: 4.7px;
    }
    .avatar_data .avatar {
        width: 58.75px;
        height: 58.75px;
        min-width: 58.75px;
        min-height: 58.75px;
    }
    .avatar_data .data img {
        width: 13.4;
        height: 13.4;
        margin: 0 2.2px;
    }
}