.left_panel {
    position: sticky;
    position: -webkit-sticky;
    /* top: calc((100vh / 2) - (41.967vw / 2) + (2.917vh / 2)); */
    top: 8.3vw;
    width: 14.0625vw;
    height: 41.967vw;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* transform: translateX(-36vw) translateY(-50%); */
    /* top: calc(50% + (0.5vw + 3.073vw) / 3); */
}

.group_cats {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 28.125vw;
    background: #F1EFE8;
    /* border: 1.2px solid #000; */
    border-radius: 0;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
}

/* .group_cats::before {
    content: '';
    position: absolute;
    background: pink;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 16%;
    
} */

.group_cats .top_phrase {
    position: relative;
    width: 100%;
    /* background: linear-gradient(#F1EFE8, #F1EFE8, transparent); */
    top: 0;
    z-index: 2;
    padding: 1vw 0;
    box-shadow: 0 10px 16px #f1efe8;
}

.group_cats .top_phrase h3 {
    margin: 0 auto;
    width: fit-content;
    color: #000;
    font-family: "modelica-m";
    font-size: 1.125vw;
    margin-top: 0;
}

.group_cats .blocks {
    position: relative;
    overflow-y: scroll;
    width: 98%;
    height: 100%;
    overflow-x: hidden;
}

.group_cats .blocks>div {
    margin: 0 auto;
}

.group_cats .blocks::-webkit-scrollbar {
    width: 7.2px;
}

@media screen and (max-width: 1920px) {
    .group_cats .blocks::-webkit-scrollbar {
        width: 0.375vw;
    }
}

.group_cats .blocks::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

.group_cats .blocks::-webkit-scrollbar-track {
    background: none;
}

.group_cats .blocks>div {
    margin-bottom: 1vw;
    border-radius: 7.2px;
}

.group_cats .blocks>div:first-child {
    margin-top: 1vw;
}

.group_cats .link {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 -10px 16px #f1efe8;
    height: 3.64vw;
    align-items: center;
}

.group_cats .link a {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    padding: .31vw .5vw;
    border-radius: 0.26vw;
    margin: 0 auto;
    height: fit-content;
}

.faq {
    width: 100%;
    position: relative;
    height: 13.4vw;
    background: #f1efe8;
    /* border-radius: 5px; */
    /* border: 1.2px solid #000; */
    -webkit-box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
}

.faq .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq .text h4 {
    color: #000;
    margin: 0.4vw 0 0.8vw 0;
    font-family: "modelica-m";
    font-size: 1.125vw;
    text-align: center;
}

.faq .text a.view {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: 0.3vw .5vw;
    border-radius: 0.25vw;
}

.faq a:not(.view) {
    position: relative;
    width: 90%;
}

.faq .text .punkt {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-bottom: .5vw;
    height: 2.8vw;
    padding: .25vw .375vw;
}

.faq .text a:nth-child(3) {
    margin-bottom: .35vw;
}

.faq .text .punkt p:nth-child(1) {
    padding: 0;
    margin: 0;
    font-family: "modelica-r";
    font-size: 1vw;
}

.faq .text .punkt p:nth-child(2) {
    color: #000;
    text-decoration: none;
    font-size: 1.25vw;
    font-family: "modelica-r";
}

.gallery {
    width: 100%;
    position: relative;
    background: #f1efe8;
    height: 15.375vw;
    border-radius: 5px;
    border: 1.25px solid #000;
}

.gallery .text img {
    width: 11.0vw;
    margin-bottom: .38vw;
}

.gallery .text {
    position: absolute;
    width: 100%;
    top: .125vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94%;
    justify-content: space-between;
}

.gallery .text h4 {
    color: #000;
    margin: 0.4vw 0 0.8vw 0;
    font-family: "modelica-m";
    font-size: 1.125vw;
    text-align: center;
}

.gallery .text>a {
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    color: white;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: 0.3vw .5vw;
    border-radius: 0.26vw;
}

@media screen and (min-width: 1920px) {
    .left_panel {
        max-width: 270px;
        max-height: 800px;
        top: 161.25px;
    }
    .group_cats {
        height: 537.5px;
    }
    .group_cats .top_phrase h3 {
        font-size: 21.6px;
    }
    .group_cats .link {
        height: 70px;
    }
    .group_cats .link a {
        font-size: 19.2px;
    }
    .faq {
        height: 255px;
    }
    .faq .text h4 {
        font-size: 21.6px;
        margin: 8.75px 0 16.25px 0;
    }
    .faq .text .punkt {
        height: 55px;
        margin-bottom: 10px;
    }
    .faq .text .punkt p:nth-child(1) {
        font-size: 19.075px;
    }
    .faq .text .punkt p:nth-child(2) {
        font-size: 24px;
    }
    .faq .text a.view {
        font-size: 19.075px;
    }
    .gallery {
        height: 293.75px;
    }
    .gallery .text h4 {
        font-size: 21.6px;
        margin: 8.75px 0 16.25px 0;
    }
    .gallery .text img {
        width: 192.5px;
        margin-bottom: 7.5px;
    }
    .gallery .text a.view {
        font-size: 19.075px;
    }
    .group_cats .blocks>div {
        margin-bottom: 19px;
    }
    .group_cats .blocks>div:first-child {
        margin-top: 19px;
    }
}

@media (min-width: 1920px) and (min-aspect-ratio: 2637/976) {
    .left_panel {
        max-height: 705px;
    }
    .group_cats {
        height: 437.5px;
    }
}

@media (max-width: 1920px) and (min-aspect-ratio: 1633/845) {
    .left_panel {
        max-height: 37.047vw;
    }
    .group_cats {
        height: 22.964vw;
    }
}

@media (min-width: 1920px) and (min-aspect-ratio: 2637/878) {
    .left_panel {
        max-width: 270px;
        max-height: 600px;
    }
    .group_cats {
        height: 337.5px;
    }
}

@media (max-width: 1920px) and (min-aspect-ratio: 1633/755) {
    .left_panel {
        max-width: 14.188vw;
        max-height: 31.529vw;
    }
    .group_cats {
        height: 17.709vw;
    }
}