.main_wrapper {
    width: 100vw;
}

.center_content {
    position: relative;
    width: 85.8vw;
    margin: 5.38vw auto 2.6vw auto;
    /* margin: 113px auto 50px auto; */
    display: flex;
    justify-content: space-between;

}

.main_content {
    width: 69.4vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.past_page {
    position: fixed;
    left: 50%;
    top: 5.5vw;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1vw;
    color: #919191;
    background: white;
    z-index: 2;
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px;
    border-radius: 100px;
    padding: 0.72vw 1.6vw;
    transform: translateX(-40.8vw);

}

.past_page:hover {
    opacity: 1;
    background: #938556;
    color: white;
}

@media screen and (min-width: 1920px) {
    .center_content {
        max-width: 1649px;
        margin: 113px auto 50px auto;
    }

    .main_content {
        width: 1333px;
    }

    .past_page {
        top: 105.60px;
        font-size: 19.20px;
        padding: 13.82px 30.72px;
        transform: translateX(-783.36px);
    }

}

@media screen and (max-width: 768px) {
    .center_content {
        width: 92vw;
    }
    .main_content {
        width: 92vw;
    }
}