.main_wrapper{
    width: 100vw;
}
.center_content {
    position: relative;
    width: 85.8vw;
    margin: 5.38vw auto 2.6vw auto;
    /* margin: 113px auto 50px auto; */
    display: flex;
    justify-content: space-between;

}

.main_content {
    width: 69.4vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 1920px) {
    .center_content {
        max-width: 1649px;
        margin: 113px auto 50px auto;
    }
    .main_content {
        width: 1333px;
    }
}

@media screen and (max-width: 768px) {
    .center_content {
        width: 95vw;
    }
    .main_content {
        width: 63.875vw;
    }
}