.right_panel {
    position: sticky;
    /* top: calc((100vh / 2) - (41.967vw / 2) + (2.917vh / 2)); */
    top: 6.38vw;
    width: 14.0625vw;
    /* height: 28.5vw; */
    height: 46.5vw;
    /* margin-top: 0.9vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* transform: translateX(36vw) translateY(-50%); */
    /* top: calc(50% + (0.5vw + 3.073vw) / 3); */
}

.browse {
    width: 100%;
    position: relative;
    background: #f1efe8;
    height: 5.85vw;
    border-radius: 5px;
    border: 1.2px solid #000;
}

.browse .text {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse .text h4 {
    margin: 0.45vw 0 0.35vw 0;
    font-family: "modelica-m";
    font-size: 1.125vw;
    text-align: center;
}

.browse .text a {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: 0.31vw 0.375vw;
    border-radius: 0.26vw;
}

.become {
    width: 100%;
    position: relative;
    background: #f1efe8;
    height: 5.85vw;
    /* border-radius: 5px; */
    /* border: 1.2px solid #000; */
    -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.become img {
    width: 100%;
}

.become .text {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.become .text h4 {
    color: #000;
    margin: 0.45vw 0 0.35vw 0;
    font-family: "modelica-m";
    font-size: 1.125vw;
    text-align: center;
}

.become .text a {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: .31vw .375vw;
    border-radius: 0.25vw;
    font-weight: 100;
}

.verified {
    width: 100%;
    position: relative;
    height: 8.26vw;
    background: #f1efe8;
    border-radius: 5px;
    border: 1.2px solid #000;
}

.verified>img {
    width: 100%;
}

.verified .text {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verified .text h4 {
    font-family: "modelica-r";
    font-size: 1.15vw;
    margin: 0;
    text-align: center;
    font-weight: 100;
}

.verified .text img {
    width: 2.9vw;
    margin-top: 0.45vw;
    margin-bottom: .31vw;
}

.ads {
    background: #f1efe8;
    width: 100%;
    height: 19.53vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.18vw;
    background: #f1efe8;
    /* border-radius: 5px; */
    /* border: 1.2px solid #000; */
    -webkit-box-shadow: 5px 5px 32px -11px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 32px -11px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.ads h3 {
    color: #000;
    font-size: 1.6vw;
}

.started {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    height: 11.9vw;
    background: #f1efe8;
    /* border-radius: 5px; */
    /* border: 1.2px solid #000; */
    -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    z-index: 1;
}

.started .text {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.started .text h4 {
    margin: 0;
    font-family: "modelica-m";
    font-size: 1.125vw;
    text-align: center;
    margin: 0.6vw 0 0.87vw 0;
}

.started .text p {
    margin: 0;
    font-family: "modelica-r";
    font-size: 1vw;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 0.6vw;
    font-weight: 100;
}

.started .text a {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: 0.31vw .375vw;
    border-radius: 0.25vw;
}

.group_cats {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 25.78vw;
    background: #F1EFE8;
    /* border: 1.2px solid #000; */
    border-radius: 0;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 32px -11px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 32px -11px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* .group_cats::before {
    content: '';
    position: absolute;
    background: pink;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 16%;
    
} */

.group_cats .top_phrase {
    position: relative;
    width: 100%;
    /* background: linear-gradient(#F1EFE8, #F1EFE8, transparent); */
    top: 0;
    z-index: 2;
    padding: 1vw 0;
    box-shadow: 0 10px 16px #f1efe8;
    /* background: pink; */
}

.group_cats .top_phrase h3 {
    margin: 0 auto;
    width: fit-content;
    color: #000;
    font-family: "modelica-r";
    font-size: 1vw;
    margin-top: 0;
}

.group_cats .blocks {
    position: relative;
    overflow-y: scroll;
    width: 98%;
    height: 100%;
    overflow-x: hidden;
}

.group_cats .blocks>div {
    margin: 0 auto;
}

.group_cats .blocks::-webkit-scrollbar {
    width: 7.2px;
}

@media screen and (max-width: 1920px) {
    .group_cats .blocks::-webkit-scrollbar {
        width: 0.375vw;
    }
}

.group_cats .blocks::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 10px;
}

.group_cats .blocks::-webkit-scrollbar-track {
    background: none;
}

.group_cats .blocks>div {
    margin-bottom: 1vw;
    border-radius: 7.2px;
}

.group_cats .blocks>div:first-child {
    margin-top: 1vw;
}

.group_cats .link {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 -10px 16px #f1efe8;
    height: 3.64vw;
    align-items: center;
}

.group_cats .link a {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    padding: .31vw .5vw;
    border-radius: 0.26vw;
    margin: 0 auto;
    height: fit-content;
}

@media screen and (min-width: 1920px) {
    .group_cats .top_phrase {
        padding: 19.2px 0;
    }
    .right_panel {
        width: 268.8px;
        height: 892.8px;
        /* transform: translateX(690px) translateY(-50%); */
        /* top: calc(50% + (0.5vw + 56.25px) / 3); */
        /* top: calc((100vh / 2) - (800px / 2) + ((56.25px + 0.05vw) / 2)); */
        top: 153px;
    }
    .browse {
        height: 112.5px;
    }
    .become {
        height: 112.5px;
    }
    .ads {
        height: 375px;
    }
    .verified {
        height: 158.75px;
    }
    .started {
        height: 230px;
    }
    .browse .text h4 {
        font-size: 21.6px;
        margin: 8.75px 0 6.25px 0;
    }
    .browse .text a {
        font-size: 19.2px;
    }
    .become .text h4 {
        font-size: 21.6px;
        margin: 8.75px 0 6.25px 0;
    }
    .become .text a {
        font-size: 19.2px;
    }
    .ads h3 {
        font-size: 31.25px;
    }
    .verified .text img {
        width: 56.25px;
        height: 56.25px;
        margin: 8.75px 0 6.25px 0;
    }
    .verified .text h4 {
        font-size: 21.6px;
    }
    .started .text h4 {
        font-size: 21.6px;
        margin: 12.5px 0 16.25px 0;
    }
    .started .text p {
        font-size: 19px;
        margin-bottom: 12px;
    }
    .started .text a {
        font-size: 19px;
    }
    .group_cats {
        height: 495px;
        /* height: 25.78vw; */
    }
    .group_cats .top_phrase h3 {
        font-size: 19.2px;
    }
    .group_cats .link {
        height: 70px;
    }
    .group_cats .link a {
        font-size: 19.2px;
    }
    .group_cats .blocks>div {
        margin-bottom: 19px;
    }
    .group_cats .blocks>div:first-child {
        margin-top: 19px;
    }
}

/* 
@media (min-aspect-ratio: 180/83) {
    .right_panel {
        max-height: 33.677vw;
    }
    .started {
        height: 9.896vw;
    }
    .started .text h4 {
        margin: 0.234vw 0 0.365vw 0;
    }
    .started .text p {
        margin-bottom: 0.208vw;
    }
    .become {
        height: 5.469vw;
    }
    .become .text h4 {
        margin: 0.247vw 0 0.221vw 0;
    }
} */

/* @media (min-aspect-ratio: 1900/902) {
    .right_panel {
        max-height: 685.6px;
    }
    .started {
        height: 190px;
    }
    .started .text h4 {
        margin: 4.5px 0 7px 0;
    }
    .started .text p {
        margin-bottom: 4px;
    }
    .become {
        height: 105px;
    }
    .become .text h4 {
        margin: 4.75px 0 4.25px 0;
    }
} */

@media (min-width: 1920px) and (min-aspect-ratio: 2194/1050) {
    .group_cats {
        height: 340px;
    }
    .right_panel {
        height: 727.8px;
    }
}

@media (max-width: 1920px) and (min-aspect-ratio: 1475/796) {
    .group_cats {
        height: 17.7vw;
    }
    .right_panel {
        height: 37.9vw;
    }
}