.header {
    background: #fff;
    padding-top: .5vw;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
}

.green_sect {
    display: flex;
    align-items: center;
    background: #142B33;
}

.wrap {
    display: flex;
    align-items: center;
    width: 85.8vw;
    margin: 0 auto;
}

.logo {
    background-color: #fff;
    height: 3.06vw;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14vw;
}

.header .logo img {
    width: 85% !important;
}

.header nav {
    margin-left: auto;
    margin-right: 2.4vw;
}

.header nav a {
    color: white;
    text-decoration: none;
    font-family: "modelica-r";
    margin-left: 0.938vw;
    font-size: 1vw;
}

.user {
    display: flex;
    align-items: center;
    height: 3.06vw;
    background: #fff;
    width: 283.75px;
    /* margin-left: auto; */
    justify-content: space-evenly;
}

.user a {
    text-decoration: none;
    font-family: "modelica-r";
    font-size: 1vw;
}

.user a.message img {
    width: 1.4vw;
}

.user a.sign {
    color: #000;
    font-weight: 600;
}

.user a.log {
    color: #938556;
    font-weight: 600;
}

@media screen and (min-width: 1920px) {
    .header .green_sect {
        max-height: 56.25px;
        height: 56.25px;
        position: relative;
        padding: 0;
    }
    .header .wrap {
        height: 100%;
        position: relative;
        width: 1647px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        /* transform: translateX(-33px); */
    }
    .logo {
        position: relative;
        height: 103%;
        margin-left: 0;
        width: 270px;
    }
    .user {
        height: 103%;
    }
    .user a {
        font-size: 19.2px;
    }
    .user a.message img {
        width: 28.75px;
        margin-top: 5px;
    }
    .header nav a {
        margin-left: 22.5px;
        font-size: 19.2px;
    }
}