.top_text {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.8225vw;
}

.top_text h2 {
    margin: 0;
    padding: 0;
    font-family: "modelica-m";
    color: #202D34;
    font-size: 1.5vw;
}

.top_text p {
    margin: 0;
    padding: 0;
    color: #919191;
    font-size: 1.06vw;
}

.search_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.25);
    transform-origin: 50% 0;
}

.search_form .search_inp {
    position: relative;
    margin-bottom: 1vw;
}

.search_form .search_inp input {
    border: 1px solid #000;
    border-radius: 4px;
    background: #f1efe8;
    width: 23.177vw;
    height: 2.292vw;
    font-size: 0.75vw;
    font-family: "modelica-r";
    padding-left: 55px;
    outline: none;
}

.search_form .search_inp button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    left: 0.3vw;
}

.search_form .search_inp button img {
    width: 1.1vw;
}

.criteries {
    background: #f1efe8;
    width: auto;
    height: auto;
    /* border: 1px solid #000; */
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 6vw;
    padding: 5px;
    -webkit-box-shadow: 5px 5px 32px -11px #000000;
    box-shadow: 5px 5px 32px -11px #000000;
}

.criteries>div {
    height: 10.156vw;
    position: relative;
    margin: 5px;
}

.criteries .section_param1 {
    width: 10.521vw;
    background: white;
    display: flex;
    flex-direction: column;
}

.criteries .section_param2 {
    width: 5.260vw;
    background: white;
}

.criteries .section_param3 {
    width: 9vw;
}

.criteries .section_param4 {
    width: 9.3vw;
}

.criteries .section_param1 {
    padding-left: 0.525vw;
}

.criteries .section_param1>p {
    position: relative;
    font-size: .75vw;
    font-family: "modelica-m";
    color: #253E47;
    padding: 5px 0;
    margin: 0;
}

.criteries .section_param1 ul {
    padding: 0;
    overflow-y: scroll;
    height: 100%;
    margin: 0;
}

.criteries .section_param1 ul::-webkit-scrollbar {
    width: 5px;
}

.criteries .section_param1 ul::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 10px;
}

.criteries .section_param1 ul::-webkit-scrollbar-track {
    background: none;
}

.criteries .section_param1 ul li {
    list-style-type: none;
    margin-top: .1vw;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.criteries .section_param1 ul li input {
    margin-left: 0;
    display: none;
}

.criteries .section_param1 ul li {
    height: .75vw;
    margin-bottom: .25vw;
    display: flex;
    align-items: center;
}

.criteries .section_param1 ul li label {
    color: #919191;
    font-size: .75vw;
    font-family: "modelica-r";
    cursor: pointer;
}

.criteries .section_param1 ul li input:checked+label {
    color: #938556;
    font-weight: 600;
}

/* param2 */

.criteries .section_param2 {
    padding-left: 0.525vw;
    display: flex;
    flex-direction: column;
}

.criteries .section_param2>p {
    font-size: .75vw;
    font-family: "modelica-m";
    color: #253E47;
    padding: 3px 0;
    margin: 0;
}

.criteries .section_param2 ul {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.criteries .section_param2 ul li {
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: calc(100% / 7);
    display: flex;
}

.criteries .section_param2 ul li input {
    margin-left: 0;
    display: none;
}

.criteries .section_param2 ul li label {
    color: #919191;
    font-size: .75vw;
    font-family: "modelica-r";
    cursor: pointer;
}

.criteries .section_param2 ul li input:checked+label {
    color: #938556;
    font-weight: 600;
}

/* param3 */

.section_param3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_param3 .pick_availability {
    position: relative;
    height: 7.135vw;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding-left: 0.525vw;
}

.section_param3 .pick_availability>p {
    font-size: .75vw;
    font-family: "modelica-m";
    color: #253E47;
    padding: 3px 0;
    margin: 0;
}

.section_param3 .pick_availability ul {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section_param3 .pick_availability ul li {
    list-style-type: none;
    margin-top: 0vw;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    height: calc(100% / 5);
    display: flex;
}

.section_param3 .pick_availability ul li input {
    margin-left: 0;
    display: none;
}

.section_param3 .pick_availability ul li label {
    color: #919191;
    font-size: .7vw;
    font-family: "modelica-r";
    cursor: pointer;
}

.section_param3 .pick_availability ul li input:checked+label {
    color: #938556;
    font-weight: 600;
}

/* sort by price */

.section_param3 .pick_price {
    position: relative;
    height: 2.552vw;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding-left: 0.525vw;
}

.section_param3 .pick_price>p {
    font-size: .75vw;
    font-family: "modelica-m";
    color: #253E47;
    padding: 3px;
    margin: 0;
}

.section_param3 .pick_price ul {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    align-items: flex-start;
}

.section_param3 .pick_price ul li {
    list-style-type: none;
    margin-top: 0vw;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    display: flex;
    align-items: center;
}

.section_param3 .pick_price ul li:nth-child(2) {
    margin-left: .1vw;
}

.section_param3 .pick_price ul li input {
    margin-left: 0;
    opacity: 0;
}

.section_param3 .pick_price ul li label {
    color: #919191;
    font-size: .63vw;
    font-family: "modelica-r";
    cursor: pointer;
    margin-top: .2vw;
    position: relative;
}

.section_param3 .pick_price ul li label::after {
    content: '';
    position: absolute;
    min-width: 0.4vw;
    min-height: 0.4vw;
    max-width: 0.4vw;
    max-height: 0.4vw;
    left: calc(-.7vw + .5px);
    border: 1px solid #000;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.section_param3 .pick_price ul li input:checked+label::after {
    background: #938556;
}

/* param4 */

.section_param4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* pick_gender */

.section_param4 .pick_gender {
    position: relative;
    height: 2.552vw;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding-left: 0.525vw;
}

.section_param4 .pick_gender>p {
    font-size: .75vw;
    font-family: "modelica-m";
    color: #253E47;
    padding: 3px 0;
    margin: 0;
}

.section_param4 .pick_gender ul {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    align-items: flex-start;
}

.section_param4 .pick_gender ul li {
    list-style-type: none;
    margin-top: 0vw;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    display: flex;
    align-items: center;
    margin-right: .1vw;
}

.section_param4 .pick_gender ul li input {
    margin-left: 0;
    opacity: 0;
}

.section_param4 .pick_gender ul li label {
    color: #919191;
    font-size: .63vw;
    font-family: "modelica-r";
    cursor: pointer;
    margin-top: .2vw;
    position: relative;
}

.section_param4 .pick_gender ul li label::after {
    content: '';
    position: absolute;
    min-width: 0.4vw;
    min-height: 0.4vw;
    max-width: 0.4vw;
    max-height: 0.4vw;
    left: calc(-.7vw + .5px);
    border: 1px solid #000;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.section_param4 .pick_gender ul li input:checked+label::after {
    background: #938556;
}

/*pick location*/

.section_param4 .pick_location {
    position: relative;
    height: 4.063vw;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding-left: 0.525vw;
}

.section_param4 .pick_location>p {
    font-size: .75vw;
    font-family: "modelica-m";
    color: #253E47;
    padding: 3px 0;
    margin: 0;
}

.section_param4 .pick_location ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.section_param4 .pick_location ul li {
    list-style-type: none;
    margin-top: 0vw;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    display: flex;
    align-items: center;
    margin-right: 0vw;
}

.section_param4 .pick_location ul li input {
    margin-left: 0;
    opacity: 0;
}

.section_param4 .pick_location ul li label {
    color: #919191;
    font-size: .63vw;
    font-family: "modelica-r";
    cursor: pointer;
    margin-top: .2vw;
    position: relative;
}

.section_param4 .pick_location ul li label::after {
    content: '';
    position: absolute;
    min-width: 0.4vw;
    min-height: 0.4vw;
    max-width: 0.4vw;
    max-height: 0.4vw;
    left: calc(-.7vw + .5px);
    border: 1px solid #000;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.section_param4 .pick_location ul li input:checked+label::after {
    background: #938556;
}

.section_param4 .with_photo label {
    color: #919191;
    font-size: .75vw;
    font-family: "modelica-r";
    cursor: pointer;
    position: relative;
}

.section_param4 .with_photo input {
    opacity: 0;
}

.section_param4 .with_photo label::before {
    content: '✔';
    position: absolute;
    width: 0.5vw;
    height: 0.5vw;
    left: -.63vw;
    top: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: .5vw;
    transform: translateY(-58%);
    opacity: 0;
    font-weight: 600;
}

.section_param4 .with_photo input:checked+label::before {
    opacity: 1;
}

.section_param4 .with_photo label::after {
    content: '';
    position: absolute;
    width: 0.5vw;
    height: 0.5vw;
    left: calc(-.7vw + .5px);
    border: 1px solid #000;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-53%);
}

.section_param4>input[type="submit"] {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: .8vw;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: .25vw .4vw;
    border-radius: 0.208vw;
    font-weight: 100;
    border: none;
    width: fit-content;
    align-self: flex-end;
    transition: .4s;
    cursor: pointer;
}

.section_param4>input[type="submit"]:hover {
    opacity: .6;
}

/*-----last kitten------*/

.last_kittens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last_kittens .block_cats {
    display: flex;
    width: 48.11vw;
    justify-content: space-between;
    margin-bottom: 1.2vw;
}

.last_kittens>a {
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    color: white;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: .31vw .5vw;
    border-radius: 0.26vw;
}

@media screen and (min-width: 1920px) {
    .top_text {
        margin-bottom: 35px;
    }
    .top_text h2 {
        font-size: 28.8px;
    }
    .top_text p {
        font-size: 20.352px;
    }
    .search_form .search_inp {
        margin-bottom: 19.2px;
    }
    .search_form .search_inp input {
        border-radius: 4px;
        width: 441.6px;
        height: 44px;
        font-size: 14.4px;
        padding-left: 55px;
    }
    .search_form .search_inp button {
        left: 5.76px;
    }
    .search_form .search_inp button img {
        width: 19.2px;
    }
    .criteries {
        margin-bottom: 115.1920px;
        padding: 5px;
    }
    .criteries>div {
        height: 194px;
    }
    .criteries .section_param1 {
        width: 194px;
        padding-left: 10px;
    }
    .criteries .section_param2 {
        width: 100px;
    }
    .criteries .section_param3 {
        width: 161px;
    }
    .criteries .section_param4 {
        width: 178px;
    }
    .criteries .section_param1>p {
        font-size: 14.4px;
        margin: 0;
        padding: 10px;
    }
    .criteries .section_param1 ul li {
        height: 14.4px;
        margin-bottom: 4.8px;
    }
    .criteries .section_param1 ul li label {
        font-size: 14.4px;
    }
    .criteries .section_param2 {
        padding-left: 10px;
    }
    .criteries .section_param2>p {
        font-size: 14.4px;
        padding: 3px;
    }
    .criteries .section_param2 ul li label {
        font-size: 14.4px;
    }
    .section_param3 .pick_availability {
        height: 136px;
        padding-left: 10px;
    }
    .section_param3 .pick_availability>p {
        font-size: 14.4px;
        padding: 3px 0;
    }
    .section_param3 .pick_availability ul li label {
        font-size: 13.44px;
    }
    .section_param3 .pick_price {
        height: 48.9px;
        padding-left: 10px;
    }
    .section_param3 .pick_price>p {
        font-size: 14.4px;
        padding: 3px;
    }
    .section_param3 .pick_price ul li label {
        font-size: 12px;
        margin-top: 3.84px;
    }
    .section_param3 .pick_price ul li label::after {
        min-width: 7.68px;
        min-height: 7.68px;
        max-width: 7.68px;
        max-height: 7.68px;
        left: -12.48px;
    }
    .section_param4 .pick_gender {
        height: 48.9px;
        padding-left: 10px;
    }
    .section_param4 .pick_gender>p {
        font-size: 14.4px;
        padding: 3px 0;
    }
    .section_param4 .pick_gender ul li {
        list-style-type: none;
        margin-right: 5.7px;
    }
    .section_param4 .pick_gender ul li label {
        font-size: 12px;
        margin-top: .2vw;
    }
    .section_param4 .pick_gender ul li label::after {
        min-width: 7.68px;
        min-height: 7.68px;
        max-width: 7.68px;
        max-height: 7.68px;
        left: -12.48px;
    }
    .section_param4 .pick_location {
        height: 78px;
        padding-left: 10px;
    }
    .section_param4 .pick_location>p {
        font-size: 14.4px;
        padding: 3px 0;
        margin: 0;
    }
    .section_param4 .pick_location ul li {
        margin-top: 0vw;
        margin-right: 5.7px;
    }
    .section_param4 .pick_location ul li label {
        font-size: 12px;
        margin-top: 3.84px;
    }
    .section_param4 .pick_location ul li label::after {
        min-width: 7.68px;
        min-height: 7.68px;
        max-width: 7.68px;
        max-height: 7.68px;
        left: -12.48px;
    }
    .section_param4 .with_photo label {
        font-size: 14.4px;
    }
    .section_param4 .with_photo label::before {
        width: 9.6px;
        height: 9.6px;
        left: -11.6px;
        top: 50%;
        font-size: 9.6px;
    }
    .section_param4 .with_photo label::after {
        width: 9.6px;
        height: 9.6px;
        left: -13.44px;
        border-radius: 2px;
    }
    .section_param4>input[type="submit"] {
        font-size: 15.36px;
        padding: 4.8px 7.68px;
        border-radius: 0.208vw;
    }
    .last_kittens .block_cats {
        width: 923.52px;
        margin-bottom: 23px;
    }
    .last_kittens>a {
        font-size: 19.2px;
        color: white;
        padding: 5.7px 9.6px;
        border-radius: 0.26vw;
    }
}