.left_panel {
    width: 14.0625vw;
    height: 41.967vw;
    margin-top: 0.91vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    transform: translateX(-36vw) translateY(-50%);
    top: calc(50% + (2.4vw + 3.073vw) / 3);
}

.group_cats {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 28.125vw;
    background: #F1EFE8;
    border: 1.2px solid #000;
    border-radius: 5px;
}

.group_cats .top_phrase {
    position: absolute;
    width: 100%;
    height: 5.2vw;
    background: linear-gradient(#F1EFE8, #F1EFE8, transparent);
    top: 0;
    z-index: 1;
}

.group_cats .top_phrase h3 {
    margin: 0 auto;
    width: fit-content;
    color: #000;
    font-family: "modelica-m";
    font-size: 1.125vw;
    margin-top: 0.84vw;
}

.group_cats .blocks {
    position: absolute;
    top: .5vw;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
    width: 98%;
}

.group_cats .blocks>div {
    margin: 0 auto;
}

.group_cats .blocks::-webkit-scrollbar {
    width: 7.2px;
}

.group_cats .blocks::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

.group_cats .blocks::-webkit-scrollbar-track {
    background: none;
}

.group_cats .blocks>div {
    margin-bottom: 1vw;
    border-radius: 7.2px;
}

.group_cats .blocks>div:first-child {
    margin-top: 3.5vw;
}

.group_cats .blocks>div:last-child {
    margin-bottom: 3.75vw;
}

.group_cats .link {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(transparent, #f1efe8, #f1efe8);
    height: 3.64vw;
    align-items: center;
}

.group_cats .link a {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    padding: .31vw .5vw;
    border-radius: 0.26vw;
    margin: 0 auto;
    height: fit-content;
}

.faq {
    width: 100%;
    position: relative;
    height: 13.4vw;
    background: #f1efe8;
    border-radius: 5px;
    border: 1.2px solid #000;
}

.faq .text {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq .text h4 {
    color: #000;
    margin: 0.4vw 0 0.8vw 0;
    font-family: "modelica-m";
    font-size: 1.125vw;
    text-align: center;
}

.faq .text>a {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: 0.3vw .5vw;
    border-radius: 0.25vw;
}

.faq .text .punkt {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: .5vw;
    height: 2.8vw;
    padding: .25vw .375vw;
}

.faq .text .punkt:nth-child(3) {
    margin-bottom: 1.25vw;
}

.faq .text .punkt p {
    padding: 0;
    margin: 0;
    font-family: "modelica-r";
    font-size: 1vw;
}

.faq .text .punkt a {
    color: #000;
    text-decoration: none;
    font-size: 1.25vw;
    font-family: "modelica-r";
}

.gallery {
    width: 100%;
    position: relative;
    background: #f1efe8;
    height: 15.375vw;
    border-radius: 5px;
    border: 1.25px solid #000;
}

.gallery .text img {
    width: 11.0vw;
    margin-bottom: .38vw;
}

.gallery .text {
    position: absolute;
    width: 100%;
    top: .125vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94%;
    justify-content: space-between;
}

.gallery .text h4 {
    color: #000;
    margin: 0.4vw 0 0.8vw 0;
    font-family: "modelica-m";
    font-size: 1.125vw;
    text-align: center;
}

.gallery .text>a {
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    color: white;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: 0.3vw .5vw;
    border-radius: 0.26vw;
}

@media screen and (min-width: 1920px) {
    .left_panel {
        max-width: 270px;
        max-height: 800px;
        transform: translateX(-690px) translateY(-50%);
        top: calc(50% + (2.4vw + 56.25px) / 3);
    }
    .group_cats {
        height: 537.5px;
    }
    .group_cats .top_phrase {
        height: 100px;
    }
    .group_cats .top_phrase h3 {
        font-size: 21.6px;
    }
    .group_cats .link {
        height: 70px;
    }
    .group_cats .link a {
        font-size: 19.2px;
    }
    .faq {
        height: 255px;
    }
    .faq .text h4 {
        font-size: 21.6px;
        margin: 8.75px 0 16.25px 0;
    }
    .faq .text .punkt {
        height: 55px;
        margin-bottom: 10px;
    }
    .faq .text .punkt p {
        font-size: 19.075px;
    }
    .faq .text .punkt a {
        font-size: 24px;
    }
    .faq .text a {
        font-size: 19.075px;
    }
    .gallery {
        height: 293.75px;
    }
    .gallery .text h4 {
        font-size: 21.6px;
        margin: 8.75px 0 16.25px 0;
    }
    .gallery .text img {
        width: 192.5px;
        margin-bottom: 7.5px;
    }
    .gallery .text a {
        font-size: 19.075px;
    }
    .group_cats .blocks>div:first-child {
        margin-top: 68.75px;
    }
}