@font-face {
    font-family: "modelica-r";
    src: url("../assets/fonts/bwmodelica-regular.otf");
}

@font-face {
    font-family: "modelica-m";
    src: url("../assets/fonts/bwmodelica-medium.otf");
}

.center_content {
    position: relative;
    width: 85.8vw;
    margin: 8.3vw auto 4.6vw auto;
    display: flex;
    justify-content: center;
}

.center_content.triggered section:first-child {
    position: absolute;
}

.center_content.triggered section:last-child {
    position: absolute;
}

.main_content {
    width: 43.875vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 1920px) {
    .center_content {
        max-width: 1649px;
        margin: 161.25px auto 50px auto;
    }
    .main_content {
        width: 1052px;
    }
}