.right_panel {
    width: 14.0625vw;
    height: 38.5vw;
    margin-top: 0.9vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    transform: translateX(36vw) translateY(-50%);
    top: calc(50% + (0.5vw + 3.073vw) / 3);
}

.browse {
    width: 100%;
    position: relative;
    background: #f1efe8;
    height: 5.85vw;
    border-radius: 5px;
    border: 1.2px solid #000;
}

.browse .text {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse .text h4 {
    margin: 0.45vw 0 0.35vw 0;
    font-family: "modelica-m";
    font-size: 1.125vw;
    text-align: center;
}

.browse .text a {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: 0.31vw 0.375vw;
    border-radius: 0.26vw;
}

.become {
    width: 100%;
    position: relative;
    background: #f1efe8;
    height: 5.85vw;
    border-radius: 5px;
    border: 1.2px solid #000;
}

.become img {
    width: 100%;
}

.become .text {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.become .text h4 {
    color: #000;
    margin: 0.45vw 0 0.35vw 0;
    font-family: "modelica-m";
    font-size: 1.125vw;
    text-align: center;
}

.become .text a {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: .31vw .375vw;
    border-radius: 0.25vw;
    font-weight: 100;
}

.verified {
    width: 100%;
    position: relative;
    height: 8.26vw;
    background: #f1efe8;
    border-radius: 5px;
    border: 1.2px solid #000;
}

.verified>img {
    width: 100%;
}

.verified .text {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verified .text h4 {
    font-family: "modelica-r";
    font-size: 1.15vw;
    margin: 0;
    text-align: center;
    font-weight: 100;
}

.verified .text img {
    width: 2.9vw;
    margin-top: 0.45vw;
    margin-bottom: .31vw;
}

.ads {
    background: #f1efe8;
    width: 100%;
    height: 19.53vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.18vw;
    background: #f1efe8;
    border-radius: 5px;
    border: 1.2px solid #000;
}

.ads h3 {
    color: #000;
    font-size: 1.6vw;
}

.started {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    height: 11.9vw;
    background: #f1efe8;
    border-radius: 5px;
    border: 1.2px solid #000;
}

.started .text {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.started .text h4 {
    margin: 0;
    font-family: "modelica-m";
    font-size: 1.125vw;
    text-align: center;
    margin: 0.6vw 0 0.87vw 0;
}

.started .text p {
    margin: 0;
    font-family: "modelica-r";
    font-size: 1vw;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 0.6vw;
    font-weight: 100;
}

.started .text a {
    color: white;
    font-family: "modelica-r";
    font-weight: 100;
    font-size: 1vw;
    background: #938556;
    text-decoration: none;
    margin: 0;
    padding: 0.31vw .375vw;
    border-radius: 0.25vw;
}

@media screen and (min-width: 1920px) {
    .right_panel {
        max-width: 270px;
        max-height: 729.6px;
        transform: translateX(690px) translateY(-50%);
        top: calc(50% + (0.5vw + 56.25px) / 3);
    }
    .browse {
        height: 112.5px;
    }
    .become {
        height: 112.5px;
    }
    .ads {
        height: 375px;
    }
    .verified {
        height: 158.75px;
    }
    .started {
        height: 230px;
    }
    .browse .text h4 {
        font-size: 21.6px;
        margin: 8.75px 0 6.25px 0;
    }
    .browse .text a {
        font-size: 19.2px;
    }
    .become .text h4 {
        font-size: 21.6px;
        margin: 8.75px 0 6.25px 0;
    }
    .become .text a {
        font-size: 19.2px;
    }
    .ads h3 {
        font-size: 31.25px;
    }
    .verified .text img {
        width: 56.25px;
        height: 56.25px;
        margin: 8.75px 0 6.25px 0;
    }
    .verified .text h4 {
        font-size: 21.6px;
    }
    .started .text h4 {
        font-size: 21.6px;
        margin: 12.5px 0 16.25px 0;
    }
    .started .text p {
        font-size: 19px;
        margin-bottom: 12px;
    }
    .started .text a {
        font-size: 19px;
    }
}
/* 
@media (min-aspect-ratio: 180/83) {
    .right_panel {
        max-height: 33.677vw;
    }
    .started {
        height: 9.896vw;
    }
    .started .text h4 {
        margin: 0.234vw 0 0.365vw 0;
    }
    .started .text p {
        margin-bottom: 0.208vw;
    }
    .become {
        height: 5.469vw;
    }
    .become .text h4 {
        margin: 0.247vw 0 0.221vw 0;
    }
} */

@media (min-aspect-ratio: 180/83) {
    .right_panel {
        max-height: 685.6px;
    }
    .started {
        height: 190px;
    }
    .started .text h4 {
        margin: 4.5px 0 7px 0;
    }
    .started .text p {
        margin-bottom: 4px;
    }
    .become {
        height: 105px;
    }
    .become .text h4 {
        margin: 4.75px 0 4.25px 0;
    }
}