.slider_breeds {
    margin-bottom: 60px;
}

@media screen and (max-width: 1920px) {
    .slider_breeds {
        margin-bottom: 3.12vw;
    }
}

.sort {
    background: white;
    display: flex;
    border-radius: 5px;
    border: 1.2px solid #938556;
    width: 28.542vw;
    height: 1.901vw;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    margin: 0 auto;
    margin-bottom: 25px;
}

.sort div {
    width: 35%;
    height: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sort div:nth-child(1), .sort div:nth-child(2) {
    border-right: 1.25px solid #938556;
}

.sort div:nth-child(1) {
    margin-left: -1px;
}

.sort div p {
    color: #000;
    font-size: 17.5px;
    font-family: "modelica-r";
}

.sort div.active {
    background: #938556;
}

.sort div.active p {
    color: white;
}

.slider_cnt {
    display: flex;
}

.slider_cnt>button {
    background: #f1efe8;
    border-radius: 50%;
    position: relative;
    border: none;
    height: 32.5px;
    width: 32.5px;
    z-index: 1;
    cursor: pointer;
    margin-top: 167px;
    outline: none;
}

.slider_cnt>button img {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slider_cnt>button:hover {
    opacity: .2;
}

.slider_cnt>button:first-child {
    transform: rotate(0deg);
}

.slider_cnt>button:last-child {
    transform: rotate(180deg);
}

.slider_cnt .wrap_cont {
    width: 1000px;
    /* background: pink; */
    height: 480px;
    position: relative;
    overflow: hidden;
}

.slider_cnt .block_imgs {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-evenly;
    left: -2vw;
    transition: .6s;
    /* background: #000; */
}

.dots {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
    margin-bottom: 50px;
}

.dots .container_dots {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
}

.dots .container_dots span {
    width: 10px;
    height: 10px;
    background: #919191;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
}

.dots .container_dots span:hover {
    opacity: .6;
}

.dots .container_dots span.active {
    background: #000;
}

.dots>button {
    background: #f1efe8;
    border-radius: 50%;
    position: relative;
    border: none;
    height: 24px;
    width: 24px;
    z-index: 1;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
}

.dots>button img {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dots>button:hover {
    opacity: .2;
}

.dots>button:first-child {
    transform: rotate(0deg);
}

.dots>button:last-child {
    transform: rotate(180deg);
}

.container_latters {
    width: fit-content;
    margin: 0 auto;
    display: flex;
}

.container_latters button {
    background: none;
    border: none;
    font-size: 21.6px;
    font-family: 'modelica-r';
    cursor: pointer;
}

/* .container_latters button.active{
    text-decoration: underline;
} */

@media screen and (min-width: 1920px) {
    .sort {
        width: 548x;
        height: 36.5px;
    }
}

@media screen and (max-width: 1920px) {
    .dots {
        margin-bottom: 2.5vw;
    }
    .sort {
        border-radius: 0.25vw;
        margin-bottom: 1.302vw;
    }
    .sort div p {
        font-size: 0.911vw;
    }
    .slider_cnt>button {
        height: 1.693vw;
        width: 1.693vw;
        margin-top: 8.729vw;
    }
    .slider_cnt .wrap_cont {
        width: 49.083vw;
        height: 25vw;
    }
    .dots .container_dots span {
        width: 0.521vw;
        height: 0.521vw;
    }
    .dots>button {
        width: 1.250vw;
        height: 1.250vw;
    }
}